// out: css/image-gallery.css, sourcemap: false, compress: false

/*Галерея товаров*/

.imageGalleryBlock {
    margin: 60px 0;
    position: relative;
    padding-right: 380px;
}

.imageGalleryBlock:first-child {
    margin-top: 0
}

.imageGalleryBlock .imageListBlock {
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
}

.imageGalleryBlock .imageListBlock .blockWrapper {
    overflow: hidden;
    height: auto;
    position: relative;
    margin: 0;
}
.box-slide-image {
    opacity: 1;
    visibility: visible;
    position: relative;
    z-index: 2;
    transition: all 0.25s ease;
    height: 100%;
    display: inline-block;
}
.imageGalleryBlock .imageList {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    white-space: nowrap;
}

.imageGalleryBlock .imageList .item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
    padding: 0;
    box-sizing: content-box;
    padding-left: 10px;
    font-size: 1.4rem;
    white-space: normal;
    width: 180px;
    height: 110px;
}

.imageGalleryBlock .imageList .item-active {
    border-color: #ff6c00;
}

.imageGalleryBlock .imageList .item:first-child {

}

.imageGalleryBlock .imageList .item:nth-of-type(6n+1) {
   margin: 0 0 0 0;
}
.imageGalleryBlock .imageList .item:nth-of-type(6n+2) {
  margin: 0 0 0 0;
}
.imageGalleryBlock .imageList .item:nth-of-type(6n+3) {
    margin: 120px 0 0 -100%;
}
.imageGalleryBlock .imageList .item:nth-of-type(6n+4) {
   margin: 120px 0 0 0;
}
.imageGalleryBlock .imageList .item:nth-of-type(6n+5) {
    margin: 240px 0 0 -100%;
}
.imageGalleryBlock .imageList .item:nth-of-type(6n+6) {
   margin: 240px 0 0 0;
}

@media (max-width:1150px) {
  .imageGalleryBlock .imageList .item:nth-of-type(4n+1) {
     margin: 0 0 0 0;
  }
  .imageGalleryBlock .imageList .item:nth-of-type(4n+2) {
    margin: 0 0 0 0;
  }
  .imageGalleryBlock .imageList .item:nth-of-type(4n+3) {
      margin: 120px 0 0 -100%;
  }
  .imageGalleryBlock .imageList .item:nth-of-type(4n+4) {
     margin: 120px 0 0 0;
  }
}



  .imageGalleryBlock .imageList .item .imageWrapper {
      display: block;
  }

.imageGalleryBlock .imageList .item .image {
    width: 180px;
    height: 110px;
    background: #d1d1d1;
    display: block;
}

.imageGalleryBlock .navBlock-steps .step {
    position: absolute;
    top: 102%;
    width: 50px;
    font-size: 0;
    text-align: center;
    opacity: 1;
    transition: all 0.5s ease
}

.imageGalleryBlock .navBlock-steps .step-inactive {
    opacity: 0.3
}

.imageGalleryBlock .navBlock-steps .step:before, .imageGalleryBlock .navBlock-steps .step:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.imageGalleryBlock .navBlock-steps .step:before {
    height: 100%;
}

.imageGalleryBlock .navBlock-steps .step:after {
    font-family: "icomoon";
    width: 50px;
    height: 22px;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
}

.imageGalleryBlock .navBlock-steps .step-prev {
    left: 10px;
}

.imageGalleryBlock .navBlock-steps .step-prev:after {
    content: "\e902";
}

.imageGalleryBlock .navBlock-steps .step-next {
    right: 10px;
}

.imageGalleryBlock .navBlock-steps .step-next:after {
    content: "\e901";
}

.imageGalleryBlock .previewBlock {
    margin: 0 0 17px;
    background: #fff;
    overflow: hidden;
    position: relative
}

.imageGalleryBlock .previewBlock:before {
    content: '';
    width: 40px;
    height: 40px;
    border: 3px #e1e1e1 solid;
    border-left-color: #b12797;
    border-top-color: #b12797;
    border-radius: 100%;
    animation: spin 3s infinite linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -23px;
    transform: translateZ(0);
    transition: all 0.5s ease
}

.imageGalleryBlock .previewBlock-loading:before {
    opacity: 1;
    visibility: visible
}

.imageGalleryBlock .previewBlock .imageHolder {
    display: block;
    position: relative;
    padding: 0 0 77.5%; //56.2%
    @media (max-width: 1050px) {
      padding: 0 0 56.2%;
    }
}

.imageGalleryBlock .previewBlock .imageWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/*.imageGalleryBlock .previewBlock .imageWrapper:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
}*/

.imageGalleryBlock .previewBlock .image {
    display: inline-block;
    margin: 0;
    max-height: 100%;
    vertical-align: middle
}

.jsEnabled .imageGalleryBlock .imageListBlock .blockWrapper {
    margin: 0;
}

.jsEnabled .imageGalleryBlock .imageList {
    min-width: 100%;
    white-space: nowrap;
    transition: all 0.5s ease
}

.jsEnabled .imageGalleryBlock-compact {
    position: relative;
    padding: 20px 50px
}

.jsEnabled .imageGalleryBlock-compact .navBlock-steps .step {
    position: absolute;
    top: 102%;
    /*height: 100%;*/
    width: 50px;
    font-size: 0;
    text-align: center;
}

.jsEnabled .imageGalleryBlock-compact .imageListBlock {
    position: static
}

.jsEnabled .imageGalleryBlock-compact .imageListBlock .blockWrapper {
    position: static;
    height: auto;
    margin: 0 50px
}

.jsEnabled .imageGalleryBlock-compact .imageList .item {
    border: 0;
    width: auto;
    height: auto
}

.jsEnabled .imageGalleryBlock-compact .imageList .item a {
    display: block;
    border-radius: 100%;
    background: transparent;
    width: 14px;
    height: 14px;
    border: 2px #e1e1e1 solid;
    transition: all 0.5s ease
}

.jsEnabled .imageGalleryBlock-compact .imageList .item-active a {
    background: #b12797;
    border-color: #b12797
}

.jsEnabled .imageGalleryBlock-compact .imageList .item .image {
    display: none
}

.jsEnabled .imageGalleryBlock-compact .navBlock-steps .step-inactive {
    opacity: 1
}



@media (max-width:960px) {
  .imageGalleryBlock {
    padding-right: 0;
    margin-bottom: 110px;
    margin-top: 20px;
  }
  .imageGalleryBlock .imageList .item:nth-of-type(1n) {
     margin: 0 0 0 0;
  }
  .imageGalleryBlock .imageListBlock {
    top:100%;
    margin-top: 10px;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
  }
  .imageGalleryBlock .navBlock-steps .step-prev {
    left: 0;
  }
  .imageGalleryBlock .navBlock-steps .step-next {
    right: 0;
  }
  .imageGalleryBlock .navBlock-steps .step {
    top:25%;
    height: auto;
    &:not(.step-inactive):hover::after {
    color: #ff6c00;
    }
  }
}
