@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?luopiq');
  src:  url('fonts/icomoon.eot?luopiq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?luopiq') format('truetype'),
    url('fonts/icomoon.woff?luopiq') format('woff'),
    url('fonts/icomoon.svg?luopiq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e913";
}
.icon-map:before {
  content: "\e914";
}
.icon-question:before {
  content: "\e900";
}
.icon-reload:before {
  content: "\e901";
}
.icon-rul:before {
  content: "\e902";
}
.icon-tell:before {
  content: "\e903";
}
.icon-tell2:before {
  content: "\e904";
}
.icon-zont:before {
  content: "\e905";
}
.icon-arrow-bottom:before {
  content: "\e906";
}
.icon-calc:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-diolog:before {
  content: "\e909";
}
.icon-docs:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
.icon-instrument:before {
  content: "\e90c";
}
.icon-like-up:before {
  content: "\e90d";
}
.icon-sort-kub:before {
  content: "\e90e";
}
.icon-sort-table:before {
  content: "\e90f";
}
.icon-arrow-left:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e911";
}
.icon-v-up:before {
  content: "\e912";
}
